
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
	font-size: 12px;
   -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
   -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	background: #333333;
  border: 1px solid #555;
  color: #EEE;
}
.ui-datepicker-week-end, .ui-datepicker-week-end a.ui-state-default {color: red!important}



.highlight-date a {
	background-color: #09ff00 !important; /* Color del día seleccionado */
	color: #000 !important;
	font-weight: bold !important;
}
.non-selected-date a {
	background-color: #f80b0b !important; /* Color para los días no seleccionados */
	color: #000000 !important;
}
.weekend a {
	background-color: #e0e0e0 !important;/* Fondo para sábados y domingos */
	color: #000000 !important;
}